<div class="container">
  <div class="row">
    <div class="span12">

      <h1>New bird</h1>

      <div class="form-actions">
        <%= link_to 'Back', admin_birds_path, class: 'btn' %>
      </div>

      <%= render 'form' %>

      <div class="form-actions">
        <%= link_to 'Back', admin_birds_path, class: 'btn' %>
      </div>
    </div>
  </div>
</div>
