<section class="site_footer">
  <div class="row">
    <div class="span12">
      <div class="footer">
        &nbsp;<br/>
        &nbsp;<br/>
        <div class="about">
          <%= link_to "Home", root_url %> | <%= link_to "About",  aboutus_index_url %>
        </div>
        &nbsp;<br/>
        &nbsp;<br/>
        &nbsp;<br/>
        &nbsp;<br/>
        &nbsp;<br/>
      </div>
    </div>
  </div>
</section>
