<div class="grid_4 ">
	<h1 style="font-family: 'Libre Baskerville', serif;">Birds of Shangrila </h1> 
</div>

<div class="grid_4 push_4 ">
	<%= render 'birds/search' %>
</div>
<div class="clear"></div>

<ul>
<% Chapter.all.each do |chapter| %>
	<li><%= link_to chapter.name, chapter %></li>

<% end %>
</ul>

