<div class="row">
  <div class="span12">
    <div class="display_box ch_head">
      <p><%= link_to @chapter.name, @chapter %></p>
      <div class="chinese_ch">
        <p><%= link_to @chapter.chinese_name, @chapter %></p>
      </div>  
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="thanks">