// Place all the styles related to the birds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Forum);
.bxslider li {
 margin-left: 0px;
}

.chapter_bird_thumb_frame {
  color: #14191B;
  background-color: #445156;
  list-style: none;
  margin-bottom: 1px;
  height: 45px;
}

.chapter_bird_thumb_frame img {
  height: 45px;
  width: 45px;
}

.chapter_bird_thumb_container {
  background-color: #273942;

}
.chapter_bird_thumb_container ul {
  height: 275px;
  overflow-y: auto;
}
.container_12 {font-family: 'Forum' !important;}