// Place all the styles related to the birds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bxslider li {
 margin-left: 0px;
}

.chapter_bird_thumb_frame {
  border: 1px solid #aaa;
  color: #666;
}