// Place all the styles related to the birds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Domine);

.bxslider li {
  margin-left: 0px;
}

.chapter_bird_thumb_frame {
  color: #7E735B;
  background-color: #445156;
  list-style: none;
  margin-bottom: 1px;
  height: 45px;
}

.chapter_bird_thumb_frame img {
  height: 45px;
  width: 45px;
  padding: 0px;
  box-shadow: 0px 0px 0px #888;
  border: 0;
}

.chapter_bird_thumb_container {
  background-color: #273942;
  color: #9E9173;
  width: 375px;
  -moz-box-shadow: 0px 2px 10px #777;
  -webkit-box-shadow: 0px 2px 10px #777;
  box-shadow: 0px 2px 10px #777;
  padding:3px; 
  border:1px solid #dddddd; 
  border-right:1px solid #c0c0c0; 
  border-bottom:1px solid #c0c0c0;

}

.chapter_bird_thumb_container ul {
  height: 275px;
  overflow-y: auto;
  margin-right: 10px;
  color: #7E735B;
  margin-left: 30px;
  margin-top: 25px;
  width: 290px;
}

.container {
  font-family: 'Domine' !important;
  background: #F4E9C8; 
}

a {
  color: #14191B;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #6B6352;
}  

img {
  border-radius: 2px;
  box-shadow: 0px 2px 10px #777;
  padding:4px; 
  border:1px solid #fff; 
  background: #fff;
}

body {
  background: #273942;
}

.display_box {
  background: #EAE2CF;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 5px #bbb;
  margin:10px 10px;
}

.title {
  background: #445156;
  color: #eee;
  padding: 50px;
}  

.title h1 a {
  color: #eee;
  text-shadow: 0px 0px 5px #444;
}  

  